daemon off;
error_log /dev/stdout notice;
worker_processes 1;
user nginx nginx;


events {
    worker_connections  1024;
}

http {
  server_tokens off;
  default_type application/octet-stream;

  include conf.d/ssl-params.inc;

  access_log /dev/stdout;

  map $server_addr $proxy_pass_ip {
    default "{{ var "PROXY_ADDRESS" | default "localhost" }}";
    ~.*:.*   "[{{ var "PROXY_ADDRESS" | default "localhost" }}]";
  }

  server {
    listen                  {{ var "HTTP_PORT" | default "80" }};
    listen                  [::]:{{ var "HTTP_PORT" | default "80" }};
    server_name             {{ var "DOMAINS" }};
    include                 conf.d/acme.inc;
    include                 conf.d/redirect_http.inc;
  }

  server {
    listen                  {{ var "HTTPS_PORT" | default "443" }};
    listen                  [::]:{{ var "HTTPS_PORT" | default "443" }};
    server_name             {{ var "DOMAINS" }};
    ssl                     on;
    # apologies for the heinous templating. Please see docs for details:
    # https://github.com/gliderlabs/sigil
    ssl_certificate         /etc/ssl/acme/{{ var "DOMAINS" | printf `/usr/local/bin/trim-domain "%s"` | sh }}/{{ var "DOMAINS" | printf `/usr/local/bin/trim-domain "%s"` | sh }}.cer;
    ssl_certificate_key     /etc/ssl/acme/{{ var "DOMAINS" | printf `/usr/local/bin/trim-domain "%s"` | sh }}/{{ var "DOMAINS" | printf `/usr/local/bin/trim-domain "%s"` | sh }}.key;


    include /etc/nginx/conf.d/ssl-params.inc; # SSL parameters

    location / {
      resolver    {{ var "RESOLVER" | default "127.0.0.11" }} valid=10s;
      include     conf.d/proxy_set_header.inc;
      proxy_pass  http://$proxy_pass_ip:{{ var "PROXY_PORT" | default "8080" }};
    }
  }

}